*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
html,body{
    width: 100%;
    height:100%;
     
}
#main{
    width:100%;
    
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    COLOR:WHITE;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width:100%;
    padding: 20px 40px;
    color:aliceblue;
}
#nav a{
    text-decoration: none;
    font-size:18px;
    color:white;
}
#heading{
    margin-top: 90px;

}
#heading h1{
    font-size:9vw;
    font-weight: 900;
    opacity: 0.6;
    line-height: 1;
    margin-left: 30px;
}
#heading #secondh1{
margin-left:240px;
}

 #blocktext{
     width:fit-content;
 }
 #blocktext h5{
    font-size: 15px;
    text-transform: uppercase;
    text-align:right;
 }

#Miniheadings{
    margin-top:100px;
    padding-right: 50px;
 }

#Miniheadings h5{
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1vw;
    text-align: right;
 }
#herofotter{
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
    width: 100%;
    padding :0 2vw;
}
#herofotter a{
    color:white;
    text-decoration: uppercase;
    text-decoration: none;
    

}
#herofotter .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    display: flex;
    align-items: center;
    justify-content: center;

}
#headingfotter #iconset{
    display: flex;
    gap:10px;
}
#special{
    display: flex;
}
#second{
    color:white;
    padding-right:10vw;
    padding-top:100px;
    background-color: black;
    width:100%;
    height: 100vh;
}
.elem{
    width:100%;
padding:3.5vw 3vw;
    border-top:1px solid #888;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-right:0;


}
.elem h1{
    text-transform: uppercase;
    font-size:7vw;
    opacity: 0.7;



}
.elem2{
    border-bottom: 1px solid #888;
}
.elem img{
    height: 150px;
    display:none;

    position: absolute;
    z-index:999;
}
#about{
    display: flex;
    align-items: center;
     
    width:100%;
    gap:50%;
    background-color: black;
    padding:10vw 5vw;
   
    color:white;
}
 #about img{
    width:200px;

 }
 #textabout{
    width:25rem;
  

 }
 #textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 30px;
 }
 #textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
 }
 #textabout button{
    padding:12px 22px;
    border:1px solid #fff;
    border-radius: 100px;
    
    font-size:16px;
    text-decoration: none;
 }
 #last{
    background-color: black;
    padding:20px 30px;
    color:white;
    padding-bottom: 10vw;
 }
 #last h5{
text-transform: uppercase;
opacity: 0.6;
 }
 #last h3{
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 20px;
    margin-top: 10px;
 }